*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FFEBCD;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #F36DA8;
    font-family: "Itim", cursive;
    font-size: 1.3rem;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo{
    max-height: 100px;
    max-width: 100px;
    border-radius: 58px;

}


.box-logo {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

#navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bouton-nav:hover{
    background-color: #fc95c1;
    border-radius: 10px;
}

#bonbon{
    max-height: 800px;
    max-width: 400px;
}

#page-produit{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 300px;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#name{
    margin-bottom: 30px;
}