
header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo{
    max-height: 100px;
    max-width: 100px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
