**{
    margin: 0;
    padding: 0;

}

body {
    background-color: #FFEBCD;
    overflow-x: hidden;

}

header {
    display: flex;
    flex-direction: column;
    background-color: #F36DA8;
    font-family: "Itim", cursive;
    font-size: 1.3rem;
    text-align: center;
    margin: -30px;
}

p{
    text-decoration: none;
}

.bonbons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.logo {
    max-height: 100px;
    max-width: 100px;
    border-radius: 58px;
    margin-top: 30px;
}

.box-logo {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.img_boutique{
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.img_bonbon{
    width: 250px;
    height: 300px;
}

.shop-detail{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#navigation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation li {
    margin: 0 155px; /* Add space between items */
}

.bouton-nav{
    color: black;
}

.bouton-nav:hover {
    background-color: #fc95c1;
    border-radius: 10px;
    cursor: pointer;
}

#bonbon {
    max-height: 800px;
    max-width: 400px;
    margin-bottom: 100px;
}

#page-produit {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 300px;
}

img #bonbon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#name {
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

.prod-desc{
    margin-top: 15px;
}

#divbonbon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gtitre{
    font-family: "Julius Sans One", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 2.5rem;
}

#magmom{
    margin-top: 90px;
}

.car2container img{
    height: 200px;
    width: 130px;
    margin: 30px;
}

.car2container {
    height: 300px;
    display: flex;
    flex-direction: row;
    animation: deplpacementHorizontal 30s linear infinite;
    /* Propriétés additionnelles non nécessaires sont supprimées */
    animation-direction: normal;
    animation-fill-mode: all;
    animation-play-state: initial;
    margin-top: 30px;
}

article #train{
    height: 100px;
    width: 500px;
    margin-right: -10px
}

#train img {
    width: 300px;
}

@keyframes deplpacementHorizontal {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


article p{
    text-align: center;
    font-family: "Itim", cursive;
    margin-top: -10px;
}

