* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEBCD;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #F36DA8;
    font-family: "Itim", cursive;
    font-size: 1.3rem;
    text-align: center;
}

.logo {
    max-height: 100px;
    max-width: 100px;
    border-radius: 58px;
}

.box-logo {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

#navigation {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation li {
    margin: 0 155px; /* Add space between items */
}

.bouton-nav{
    color: black;
}

.bouton-nav:hover {
    background-color: #fc95c1;
    border-radius: 10px;
    cursor: pointer;
}

#bonbon {
    max-height: 800px;
    max-width: 400px;
}

#page-produit {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 300px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#name {
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}